<h1>Tag List</h1>
<p class = "all_tags_body">
	Tags:<br/><br/>
	<% @tags.each do |tag| %>
		<span class = "search_result_link">
			<strong><%= link_to tag.name, tag_path(tag) %></strong>
		</span>
		<% if logged_in? %>
			<%= link_to "delete tag", tag_path(tag), method: :delete, data: {confirm: "Delete this tag?"}%>
		<% end %>
		<br/>
	<% end %>
</p>
<p id = "all_articles_link">
	<span class = "search_result_link">
		<%= link_to "All Articles >>", articles_path %>
	</span>
</p>
