<h1>Tag List</h1>
<p>
	Tags:
	<% @tags.each do |tag| %>
		<%= link_to tag.name, tag_path(tag) %>
		<% if logged_in? %>
			<%= link_to "delete tag", tag_path(tag), method: :delete, data: {confirm: "Delete this tag?"}%>
		<% end %>
		<br/>
	<% end %>
</p>
<p>
	<%= link_to "Articles", articles_path %>
</p>
