$primary_color: #AAA;

body {
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }

}

a {
  color: #0000FF;
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#content {
  padding-top: 20px;
}
